* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 6%;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Merriweather', serif;
	line-height: 1.45rem;
	color: #202124;
	background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.logo {
	max-width: 4rem;
	margin-top: 32px;
	margin-bottom: 8px;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #1a73e8;
}

a:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

nav a {
	padding: 0 8px;
}

main {
	max-width: 748px;
}

footer {
	font-style: italic;
	margin-bottom: 1rem;
}

/*@media only screen and (max-width: 768px) {
	nav {
		flex-direction: column;
	}

	nav a {
		padding: 2px 0;
	}
}*/
