/* ===
TABLE OF CONTENTS
	0. Imports
	1. Style reset
	2. Responsive wrapper
	3. Hero
	4. Header
	5. Personal info
	6. Features
	7. Contact
	8. Footer
=== */

/*====================
	Imports
====================*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

/*====================
	Style reset
====================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: #333;
}

p {
	line-height: 1.75rem;
}

/*====================
	New Default styles
====================*/
a {
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}

a:hover {
	color: rgba(0,0,0,0.65);
	text-decoration: underline;
}

.gh-logo {
	width: 32px;
	height: 32px;
}

/*====================
	Responsive wrapper
====================*/

.wrapper {
	padding: 0 32px;
	width: 100%;
	max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
		margin-left: 12.5%;
		width: 75%;
	}
}

@media screen and (min-width: 1025px) {
	.wrapper {
		margin-left: 30%;
		width: 40%;
	}
}

/*====================
	Hero
====================*/

.hero {
	width: 100%;
	padding: 64px 0;
	text-align: center;
	background: #4caf50;
}

.hero__logo {
	width: 256px;
	max-width: 60%;
	border-radius: 50%;
	box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.5);
}

/*====================
	Header
====================*/

.header-title {
	width: 100%;
	padding: 32px 0;
	text-align: center;
	color: #fff;
	background: #4caf50;
}

.header-title h1 {
	font-size: 3rem;
}

.header-title h3 {
	opacity: 0.8;
}

.github-image-link {
	opacity: 0.7;
}

.github-image-link:hover {
	opacity: 0.9;
}

.github-image-link img {
	margin-top: 8px;
}

/*====================
	Personal info
====================*/

.personal-info {
	width: 100%;
	padding: 72px 0;
	text-align: center;
	background: #eee;
}

.personal-info__portrait {
	width: 128px;
	max-width: 40%;
	margin-bottom: 32px;
}

.personal-info h2 {
	margin-bottom: 16px;
}

/*====================
	Features
====================*/

.features {
	padding: 64px 0;
}

.features__title {
	color: #4caf50;
	margin-bottom: 32px;
}

.features__development {
	margin-bottom: 32px;
}

/*====================
	Contact
====================*/

.contact {
	padding: 64px 0;
	text-align: center;
	background: #eee;
}

.contact__title {
	opacity: 0.8;
	margin-bottom: 32px;
	font-weight: lighter;
}

.contact__subtitle {
	margin-bottom: 32px;
}

.contact__button {
	display: inline-block;
	padding: 12px;
	margin-top: 32px;
	text-decoration: none;
	cursor: pointer;
	background: #388e3c;
	color: #fff;
	transition: all 0.1s ease;
	border-radius: 2px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact__button:hover, .contact__button:focus {
	background: #2e7d32;
}

.github-link {
	-webkit-display: flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-top: 32px;
}

.github-link img {
	margin-right: 8px;
}

/*====================
	Footer
====================*/

footer {
	padding: 32px 0;
	text-align: center;
	background: #424242;
}

.footer__image {
	width: 48px;
	max-width: 100%;
	border-radius: 24px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.38);
	margin-bottom: 16px;
}

footer p {
	color: #fff;
	opacity: 0.5;
}

.footer__terms-conditions {
	color: rgba(255, 255, 255, 0.3);
}

.footer__terms-conditions:hover {
	color: rgba(255, 255, 255, 0.45);
}