* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 6%;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	line-height: 1.45rem;
	color: #202124;
	background: #fff;
}

.light {
	font-weight: 400;
}

.logo {
	max-width: 2.5rem;
	margin: 24px 48px 24px 0;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #1a73e8;
}

a:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	/*width: 748px;*/
	width: 1228px;
	max-width: 100%;
	padding: 16px 8px;
}

nav a {
	color: #000;
	font-size: 1rem;
	padding: 32px 24px 24px 24px;
}

nav a:hover, nav a:active {
	text-decoration: none;
	border-bottom: 1px solid black;
}

hero {
	width: 748px;
	width: 1228px;
	max-width: 100%;
	min-height: 200px;
	margin-bottom: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.hero-logo {
		width: 8rem;
		margin-right: 24px;
}

.hero-text {
	font-size: 3rem;
	text-align: left;
	line-height: 3rem;
}

.hero-image {
	width: 12rem;
}

main {
	max-width: 748px;
}

footer {
	font-style: italic;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
	hero {
		flex-direction: column;
	}
}

/*@media only screen and (max-width: 768px) {
	nav {
		flex-direction: column;
	}

	nav a {
		padding: 2px 0;
	}
}*/
