---
layout: default
title: Photos
permalink: /photos
description: A collage of featured photos made by Max Crone.
---
<header>
	<h1>Photos</h1>
	<p class="intro">
			A small sample from my photography work.
			It at least goes from my earliest work in two-thousand-fourteen to relatively recent photos.
			But this is by no means a worthy portfolio.
	    For a different perspective on my photographic collection, see my <a href="https://instagram.com/18min30">Instagram page</a> and <a href="https://unsplash.com/@maxcrone">Unsplash profile</a>.
	</p>
</header>
<div class="photo-grid">
	{% assign halfway = site.categories["photo"] | size| divided_by: 2 | ceil %}
	<div class="photo-grid-column">
		{% for photo in site.categories["photo"] %}
			{% if forloop.index > halfway %}
				{% break %}
			{% endif %}
	    <a class="image" href="{{ photo.url }}" data="{{ idx }}">
	    {% include image.html name=photo.img size="1280" %}
	    </a>
		{% endfor %}
	</div>
	<div class="photo-grid-column">
		{% for photo in site.categories["photo"] %}
			{% if forloop.index <= halfway %}
				{% continue %}
			{% endif %}
	    <a class="image" href="{{ photo.url }}" data="{{ idx }}">
	    {% include image.html name=photo.img size="1280" %}
	    </a>
		{% endfor %}
	</div>
</div>
