---
layout: default
title: Writing
permalink: /writing
description: A personal publishing platform for blog posts and stories written by Max Crone.
---
<header>
	<h1>Writing</h1>
    <p class="intro">
        On this page I provide an overview of my writing.
        What I like to write varies from essays on technology, philosophy and media,
         to pieces of fiction in genres such as sci-fi and fantasy.
    </p>
</header>
<section>
    <h2>Essays</h2>
</section>
<section class="post-grid">
    {% for post in site.categories["essay"] %}
    <div class="post-item">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    {% endfor %}
</section>
<section>
    <h2>Fiction</h2>
</section>
<section class="post-grid">
    {% for post in site.categories["fiction"] %}
    <div class="post-item">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    {% endfor %}
</section>
<section>
    <h2>Flash fiction</h2>
</section>
<section class="post-grid">
    {% for post in site.categories["flash"] %}
    <div class="post-item">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    {% endfor %}
</section>
<section>
    <h2>Micro-blog</h2>
    <p>
	For very short thoughts I wanted to publish somewhere.
	Most recent snippet:
    </p>
    {% for snip in site.categories["micro"] limit:1 %}
    <blockquote>{{ snip.content }}</blockquote>
    {% endfor %}
    <p>Read <a href="/micro">all snippets</a></p>
</section>
