---
layout: default
title: Writing
permalink: /writing
description: A personal publishing platform for blog posts and stories written by Max Crone.
---
<header>
	<h1>Writing</h1>
    <p class="intro">
        On this page I provide an overview of my writing.
        What I like to write varies from essays on technology, philosophy and media,
         to pieces of fiction in genres such as sci-fi and fantasy.
    </p>
</header>
<section>
    <h3>Essays</h3>
</section>
<section class="post-grid">
    {% for post in site.categories["essay"] %}
    <div class="post-item">
        <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
        <p class="excerpt">{{ post.excerpt }}</p> 
        <p class="date">Published on {{ post.date | date: "%Y-%m-%d" }}</p>
    </div>
    {% endfor %}
</section>
<section>
    <h3>Fiction</h3>
</section>
<section class="post-grid">
    {% for post in site.categories["fiction"] %}
    <div class="post-item">
        <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
        <p class="excerpt">{{ post.excerpt }}</p>
        <span class="date">Published on {{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    {% endfor %}
</section>
<section>
    <h3>Thoughts</h3>
</section>
<section class="post-grid">
    {% for post in site.categories["thoughts"] %}
    <div class="post-item">
        <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
        <p class="excerpt">{{ post.excerpt }}</p> 
        <span class="date">Published on {{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    {% endfor %}
</section>
