/* ==========
    Global styling
========== */

body {
    align-items: center;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    line-height: 1.45rem;
    margin: 0;
    padding: 0 16px;
}

img {
    max-width: 100%;
}

a {
    color: #1a73e8;
	text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    align-items: center;
    box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
    padding: 16px 8px;
	width: 1280px;
}

    nav a {
        color: #6a6a6a;
        padding: 8px 24px;
    }

    nav .current {
        color: black;
    }

    nav a:active, nav a:hover {
        color: #000;
    	text-decoration: none;
    }

    nav .logo {
        margin: 8px 48px 8px 0;
        max-width: 2rem;
    }

    #hamburger {
        display: none;
        font-size: 1.8rem;
    }

main {
    margin-top: 32px;
    max-width: 1280px;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    text-align: center;
}

    header h3 {
        font-weight: 400;
    }

section {
    margin: auto;
    max-width: 700px;
}

footer {
    color: #757575;
    font-size: 14px;
    padding: 2rem 0;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    nav {
        justify-content: space-between;
    }

        nav > a {
            display: none;
        }

        #hamburger {
            display: block;
        }
}

/* ==========
    Text styling
========== */
.light {
    font-weight: normal;
}

/* ==========
    Home page
========== */

.portrait {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 12rem;
}

/* ==========
    Writing
========== */

.post-list-item {
    margin-bottom: 32px;
}

    .post-list-item .category {
        color: #39833c;
        font-size: 14px;
    }

    .post-list-item > h3 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .post-list-item > h3 > a {
        color: black;
    }

    .post-list-item > h3 > a:hover {
        text-decoration: underline;
    }

    .post-list-item .excerpt {
        margin: 0;
    }

    .post-list-item .date {
        font-size: 14px;
        opacity: 0.7;
    }
