* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	line-height: 1.45rem;
	color: #202124;
    color: #000;
	background: #fff;
  /* DARK MODE
  background: #000;
  color: #fafafa;*/
}

img {
    max-width: 100%;
}

hr {
  height: 1px;
  margin: 32px 0;
  border: 0;
  background-color: #ecf0f1;
}

.light {
	font-weight: 400;
}

.logo {
	max-width: 2rem;
	margin: 8px 48px 8px 0;
}

h1 {
	/*text-align: center;*/
}

a {
	text-decoration: none;
	color: #1a73e8;
}

a:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	/*width: 748px;*/
	width: 1228px;
	max-width: 100%;
	padding: 16px 8px;
	overflow: hidden;
}

nav a {
	color: #6A6A6A;
	font-size: 1rem;
	padding: 8px 24px;
}

.selected {
	color: #000;
	/*font-weight: bold;*/
}

nav a:hover, nav a:active {
	text-decoration: none;
	color: #000;
	/*border-bottom: 1px solid black;*/
}

#hamburger {
  display: none;
  font-size: 1.8rem;
}

hero {
	width: 748px;
	width: 1228px;
	max-width: 100%;
	min-height: 200px;
	/*margin-bottom: 16px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-logo {
    width: 8rem;
    margin-right: 24px;
}

.hero-splash-image {
    /*width: 500px;*/
    max-height: 200px;
    max-width: 50%;
    margin-top: 16px;
    display: none;
}

.hero-text {
    font-family: "DejaVu serif", serif;
	font-size: 2rem;
	line-height: 1rem;
    text-align: center;
    /*margin-top: 8px;*/
}

.hero-image {
	width: 12rem;
    border-radius: 50%;
    margin-bottom: 24px;
}

main {
	max-width: 748px;
    margin-top: 16px;
}

.post-list {
	max-width: 1228px;
	display: flex;
}

.post-list article {
    margin-bottom: 16px;
}

article a {
    color: black;
}

article a:hover {
    text-decoration: underline;
}

article h3 {
    margin-top: 0;
    margin-bottom: 0;
}

article .category {
    text-transform: lowercase;
    /*background: rgba(0,0,0, 0.2);
    color: #fafafa;*/
    color: #39833c;
    font-size: 14px;
}

.date {
    opacity: 0.7;
    font-size: 14px;
}

article p {
    margin: 0;
}

.story-body {
  font-family: "Dejavu serif", "Bitstream vera serif", serif;
}

footer {
	font-style: italic;

	margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 4px 2px;
    justify-content: space-between;
  }

  nav > a {
    display: none;
  }

  #hamburger {
    display: block;
  }

	hero {
		flex-direction: column;
	}

  .hero-image {
    width: 12rem;
  }

  .post-list {
      flex-wrap: wrap;
  }
}

/*@media only screen and (max-width: 768px) {
	nav {
		flex-direction: column;
	}

	nav a {
		padding: 2px 0;
	}
}*/
