{% extends "base.html" %}

{% block head %}
<title>Page not found | Max Crone</title>
{% endblock head %}

{% block content %}
<header>
    <h1>Page not found</h1>
</header>
<section>
    <p>
        Hey, seems like you lost your way.
        Don't worry, that happens to all of us during our lives sometimes.
        Just pick a new pathway to explore.
        Something you feel passionate about.
    </p>
    <p>You might want to go back to the <a href="/">front page</a>.</p>
    <p>Or read through my <a href="/food">cooking adventures</a>.</p>
    <p>Maybe look at some of my <a href="/photos">photographs</a>.</p>
</section>
{% endblock content %}
