{% extends "page.html" %}

{% block content %}
{% set section = ["essay", "fiction", "flash", "micro", "links", "books", "food", "a/portraits", "a/street", "a/events", "a/nature", "a/food"] %}
{% set_global all_posts = [] %}

{% for s in section %}
    {% set section = get_section(path=s ~ "/_index.md") %}
    {% set_global all_posts = all_posts | concat(with=section.pages) %}
{% endfor %}

{% set sorted_posts = all_posts | sort(attribute="date") | reverse %}
<header>
    <h1>Archive</h1>
    <p class="intro">
        This is everything.
        In reverse chronological order.
    </p>
    <p>
        <em>{{ sorted_posts | length }} posts</em>
    </p>
</header>
<section class="post-grid">
{% for post in sorted_posts %}
    {% set parent = post.ancestors | last %}
    {% set category = get_section(path=parent) %}
    <div>
        <a href="{{ post.permalink }}">
        {% if post.title %}
            {{ post.title }}
        {% else %}
            {{ post.slug }}
        {% endif %}
        </a>
        <div>
            <span class="date">{{ post.date | date(format="%Y-%m-%d") }}</span>
            <span class="category">{{ category.title }}</span>
        </div>
    </div>
{% endfor %}
</section>
{% endblock content %}

