{% extends "section.html" %}

{% block content %}
<header>
    <h1>{{ section.title }}</h1>
    <p class="intro">
        What have I been reading? Sometimes I forget. Goodreads can only get me so far. I want to meditate on books, essays, and stories.
        Starting from 2021, I will make an effort to consciously reflect on every book I read.
        There will be summaries, ideas, thoughts, and side-stories.
    </p>
</header>
<section class="book-grid">
    {% for book in section.pages %}
    <div>
        <a href="{{ book.path }}">{{ book.title }}</a>
        <div class="excerpt">{{ book.summary | safe }}</div>
        {% set rating = book.extra.rating %}
        <p class="rating">{% for i in range(end=rating) %}&starf;{% endfor %}</p>
        <p class="writer">By <strong>{{ book.extra.writer }}</strong></p>
        <p class="finished">Finished on {{ book.date | date(format="%Y-%m-%d") }}</p>
    </div>
    {% else %}
    <p><em>Nothing here yet</em></p>
    {% endfor %}
</section>
{% endblock content %}
