{% extends "section.html" %}

{% block content %}
<header>
    <h1>{{ section.title }}</h1>
    <p class="intro">
        My book reviews ({{ section.pages | length }}) tend more towards being vehicles for thoughts, ideas, and inspiration, rather than summaries.
        One luxurious joy I picked up is to scribble my notes in the margins of the book I'm reading.
        I'm reproducing those here too, for easier reference.
    </p>
</header>
<section class="book-grid">
    {% for book in section.pages %}
    <div>
        <a href="{{ book.path }}">{{ book.title }}</a>
        <div class="excerpt">{{ book.summary | safe }}</div>
        {% set rating = book.extra.rating %}
        <p class="rating">{% for i in range(end=rating) %}&starf;{% endfor %}</p>
        <p class="writer">By <strong>{{ book.extra.writer }}</strong></p>
        <p class="finished">Read on {{ book.date | date(format="%Y-%m-%d") }}</p>
    </div>
    {% else %}
    <p><em>Nothing here yet</em></p>
    {% endfor %}
</section>
{% endblock content %}
