{% extends "section.html" %}

{% block content %}
<header>
    <h1>{{ section.title }}</h1>
    <p class="intro">
        To appreciate the immense diversity of our world, I'm trying to cook dishes from all countries in the world.
        I will keep track of the countries, cultures, and cuisines I have been researching and cooking from in <a href="https://notes.andymatuschak.org/z4SDCZQeRo4xFEQ8H4qrSqd68ucpgE6LU155C" target="_blank">evergreen</a> notes.
    </p>
    <p>
        Running total
        <span class="fraction accent">{{ section.extra.done }}/197</span>
    </p>
</header>
<div class="recent-dishes">
    <section>
        <p class="title">Three most recent dishes</p>
    </section>
    <div class="food-grid">
        <a class="image" href="/food/iraq#dolma">
            {{ macros::image(name="2024-07-13-dolma", size="640", caption="Iraqi dolma") }}
        </a>
        <a class="image" href="/food/el-salvador#casamiento">
            {{ macros::image(name="2023-07-22-casamiento", size="640", caption="Salvadoran casamiento") }}
        </a>
        <a class="image" href="/food/poland#zupa-ogórkowa">
            {{ macros::image(name="2023-02-18-ogorkowa-zupa", size="640", caption="Polish pickle soup") }}
        </a>
    </div>
</div>
<section>
{{ section.content | safe }}
</section>
{% endblock content %}
