{% extends "section.html" %}

{% block head %}
<meta property="og:title" content="Homepage" />
<meta property="og:description" content="Max Crone is a human living in Amsterdam with interests in computer science and security, climbing and calisthenics, words, food, and much more." />

<link rel="preload" as="image" href="https://f003.backblazeb2.com/file/maxcrone-org/img/2024-05-04-portrait_1280.webp" type="image/webp">

<title>Max Crone</title>
{% endblock %}

{% block content %}
<header>
    {{ macros::image(name="2024-05-04-portrait", size="1280") }}
    <p class="intro">
        Hi, my name is <span class="brand-color"><strong>Max</strong></span>!
        I am a curious twenty-seven year old human from The Netherlands.
        Here I publish selected works of my writings, thoughts, research, and photos.
        You can also read more about <a href="/about">me</a>.
        Enjoy!
    </p>
    <p class="intro">
    </p>
</header>
<div class="update-grid">
    <div>
        <h3>Writing</h3>
        {% set essays = get_section(path="essay/_index.md") %}
        {% set fiction = get_section(path="fiction/_index.md") %}
        {% set flash = get_section(path="flash/_index.md") %}
        {% set post = essays.pages | concat(with=fiction.pages) | concat(with=flash.pages) | sort(attribute="date") | last %}
        {% set parent = post.ancestors | last %}
        {% set category = get_section(path=parent) %}
        <a href="{{ post.path }}">{{ post.title }}</a>
        <p>
            {{ post.date | date(format="%B %e, %Y") }}
            —
            <span class="pill">{{ category.title }}</span>
        </p>
        <a href="/writing" class="see-all">See all</a>
    </div>
    <div>
        <h3>Reading</h3>
        {% set books = get_section(path="books/_index.md") %}
        {% set book = books.pages[0] %}
        <a href="{{ book.path }}">{{ book.title }}</a>
        <p>
            {{ book.date | date(format="%B %e, %Y") }}
            —
            {% set rating = book.extra.rating %}
            {% for i in range(end=rating) %}&starf;{% endfor %}
        </p>
        <a href="{{ books.path }}" class="see-all">See all</a>
    </div>
    <div>
        <h3>Cooking</h3>
        {% set countries = get_section(path="food/_index.md") %}
        {% set country = countries.pages | sort(attribute="updated") | last %}
        <a href="{{ country.path }}">{{ country.title }}</a>
        <p>{{ country.updated | date(format="%B %e, %Y") }}</p>
        <a href="{{ countries.path }}" class="see-all">See all</a>
    </div>
    <div>
        <h3>Photos</h3>
        {% set portraits = get_section(path="a/portraits/_index.md") %}
        {% set street = get_section(path="a/street/_index.md") %}
        {% set events = get_section(path="a/events/_index.md") %}
        {% set nature = get_section(path="a/nature/_index.md") %}
        {% set food = get_section(path="a/food/_index.md") %}
        {% set photo = portraits.pages | concat(with=street.pages) | concat(with=events.pages) | concat(with=nature.pages) | concat(with=food.pages) | sort(attribute="date") | last %}
        {% set parent = photo.ancestors | last %}
        {% set category = get_section(path=parent) %}
        <a href="{{ photo.path }}">{{ photo.title }}</a>
        <p>
            {{ photo.date | date(format="%B %e, %Y") }}
            —
            <span class="pill">{{ category.title }}</span>
        </p>
        <a href="/photos" class="see-all">See all</a>
    </div>
</div>
<section>
    <h2>Now</h2>
    <p>
        I work at 1Password as a Security Developer. We create a safe place on the internet for your secrets.
    </p>
    <p>
        I've been living in Amsterdam for a few years now and I intend to be here for some time still.
	      Bouldering, playing Ultimate frisbee with many different people, exploring film houses, book shops, restaurants, and so many of Amsterdam's other treasures.
    </p>
</section>
{% endblock content %}
