<nav {% if hide_nav %}class="hide-on-mobile"{% endif %}>
    <span class="logo-name">
        <a href="/">
            <img class="logo" src="/assets/img/logo.svg">
            Max Crone
        </a>
    </span>
    {% if current_path and current_path == "/menu/" %}
        <a class="menu-button" href="/" onclick='return document.referrer?history.back():window.location.href="/",!1'>Close</a>
    {% else %}
        <a class="menu-button" href="/menu">Menu</a>
    {% endif %}
    <span class="menu">
    {% for item in config.extra.navigation %}
        <a {% if current_path %}{% if current_path == item.path ~ "/" or current_path is starting_with(item.path) %}class="current"{% endif %}{% endif %} href="{{ item.path }}">
            {{ item.name }}
        </a>
    {% endfor %}
    </span>
</nav>
