{% extends "page.html" %}

{% block content %}
<section class="post-header">
    {% set parent = page.ancestors | last %}
    {% set section = get_section(path=parent) %}
    <span class="category">{{ section.title }}</span>
    <h1 class="title">{{ page.title }}</h1>
    <p class="post-author-date">
        {% if page.date %}
            {{ page.date | date(format="%B %e, %Y") }}
        {% elif page.updated %}
            Last updated on {{ page.updated | date(format="%B %e, %Y") }}
        {% endif %}
    </p>
</section>

<section class="post-content">
    {{ page.content | safe }}
</section>

<hr/>

<section>
    <p class="post-copyright"><a href="{{ section.extra.see_all_link }}">← View everything in {{ section.title }}</a></p>
</section>
{% endblock content %}
