---
layout: default
---
<section class="post-header">
    <span class="category">{{ page.category }}</span>
    <h1 class="title">{{ page.title }}</h1>
    <p>By <strong>{{ page.writer }}</strong></p>
    <p class="post-author-date">Finished on {{ page.date | date_to_long_string: "ordinal", "US" }}</p>
    {% assign rating = page.rating %}
    <p>{% for i in (1..rating) %}&starf;{% endfor %}</p>
</section>

{% if page.img %}
<picture>
    <source srcset="/assets/img/{{ page.img }}_1280.webp 1280w" type="image/webp">
    <source srcset="/assets/img/{{ page.img }}_1280.jpg 1280w">
    <img src="/assets/img/{{ page.img }}_1280.jpg" alt="{{ page.title }}">
</picture>
{% endif %}

<section class="post-content">
    {{ content }}
</section>

<hr/>

<section>
    <p class="post-copyright"><a href="/reading">← View all book reviews</a></p>
</section>
