---
layout: default
---
<header>
    <h1>{{ page.title }}</h1>
    <p class="intro">
        As an effort to gain a greater understanding of the sheer diversity of our world, I am trying to cook dishes from all countries in the world.
	In this document I will keep track of the regions, countries, and cuisines I have been researching and cooking from.
	My project notes are <a href="https://notes.andymatuschak.org/z4SDCZQeRo4xFEQ8H4qrSqd68ucpgE6LU155C" target="_blank">evergreen</a> in nature.
    </p>
    <p>
	Running total
	<span class="fraction accent">{{ page.done }}/197</span>
    </p>
</header>
<div class="recent-dishes">
    <section>
        <p class="title">Three most recent dishes</p>
    </section>
    <div class="food-grid">
        <a class="image" href="/food/lebanon#foul-mdamas">
            {% include image.html name="2022-01-13-foul-mdamas" size="640" caption="Lebanese foul mdamas" %}
        </a>
        <a class="image" href="/food/colombia#ajiaco">
            {% include image.html name="2021-11-30-ajiaco" size="640" caption="Colombian ajiaco" %}
        </a>
        <a class="image" href="/food/japan#miso-soup">
            {% include image.html name="2021-11-05-miso-soup" size="640" caption="Japanese miso soup" %}
        </a>
    </div>
</div>
<section>
{{ content }}
</section>
