---
layout: default
---
<header>
    <h1>{{ page.title }}</h1>
    <p class="intro">
        As an effort to gain a greater understanding of the sheer diversity of our world, I am trying to cook dishes from all countries in the world.
	In this document I will keep track of the regions, countries, and cuisines I have been researching and cooking from.
	My project notes are <a href="https://notes.andymatuschak.org/z4SDCZQeRo4xFEQ8H4qrSqd68ucpgE6LU155C" target="_blank">evergreen</a> in nature.
    </p>
    <p>
	Running total
	<span class="fraction accent">{{ page.done }}/197</span>
    </p>
</header>
<div class="recent-dishes">
    <section>
        <p class="title">Three most recent dishes</p>
    </section>
    <div class="food-grid">
        <a class="image" href="/food/united-states#pancakes">
            {% include image.html name="2022-07-09-pancakes" size="640" caption="American pancakes" %}
        </a>
        <a class="image" href="/food/turkey#baklava">
            {% include image.html name="2022-06-04-baklava" size="640" caption="Turkish baklava" %}
        </a>
        <a class="image" href="/food/spain#gazpacho">
            {% include image.html name="2022-04-25-gazpacho" size="640" caption="Spanish gazpacho" %}
        </a>
    </div>
</div>
<section>
{{ content }}
</section>
