---
layout: default
---

<div class="fullscreen-image">
    {% include image.html name=page.img size="1280" %}
</div>

<section>
    <p>
        <strong>{{ page.title }}</strong><br/>
        {{ page.date | date_to_long_string: "ordinal", "US" }}<br/>
    </p>
    <p>{{ page.desc }}</p>
    <ul class="exif-data">
        <li>f/{{ page.aperture }}</li>
        <li>{{ page.exposure }}</li>
        <li>{{ page.focal }}mm</li>
        <li>ISO{{ page.iso }}</li>
    </ul>
    <p>Large: <a href="https://f003.backblazeb2.com/file/maxcrone-org/img/{{ page.img }}_2880.jpg">JPEG</a></p>
</section>

<hr/>

<section>
    <p class="post-copyright"><a href="/photos">← View all photos</a></p>
</section>
